@model IEnumerable<Sehmus.DataAccess.Entities.Portfolio>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Portföy Liste Paneli</h3>
<br />
<p>
    <a class="btn btn-outline-success" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologiesUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.ImageUrl1)" alt="" class="form control" height="50" />
                </td>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.ImageUrl2)" alt="" class="form control" height="50" />
                </td>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.ImageUrl3)" alt="" class="form control" height="50" />
                </td>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.ImageUrl4)" alt="" class="form control" height="50" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnologiesUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
         
            <td>
                     <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                                     <hr>
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
